// colors
$main-button-color: #f67499;
$basic-dark: #2a2a2a;
$white: white;
$gray-1: #f0f0f5;
$gray-2: #afb1bd;
$gray-3: #4a4a4a;
$gray-4: #808080;
$gray-5: #999;
$gray-6: #5e5e5e;
$gray-7: #333;
$gray-8: #e6e6eb;
$gray-9: #f6f7f8;
// 之後命名想使用color跟代碼來表示就好
