.header {
  position: relative;
  @include flexArrange(false, center);
  height: 4em;
  font-size: 1.4rem;
  &__logo {
    width: 10em;
    height: 1.8em;
    @extend %positionCenter;
    top: 50%;
    left: 50%;
    object-fit: contain;
  }
  @include md {
    font-size: 1.6rem;
  }
}
