:root {
  --body-bg: white;
  --basic-color: #{$basic-dark};

  --nav-menu-list-bottom-border: #2929291a;

  --step-active-and-finished: #{$basic-dark};
  --step-inactive-color: #{$gray-2};
  --step-connect-line-color: #{$gray-1};

  --input-border: #{$gray-3};
  --input-description: #{$gray-4};
  --input-placeholder: #999999;
  --input-select-icon: #{$basic-dark};

  --second-form-radio-unchecked-bg-color: #{$white};
  --second-form-unchecked-border-color: #{$gray-1};
  --second-form-radio-checked-border-color: #{$basic-dark};
  --second-form-time-description: #{$basic-dark};

  --cart-border: #{$gray-1};
  --cart-bg: white;
  --cart-info-divider: #{$gray-1};
  --cart-btn-bg: #{$gray-1};

  --cart-button-divider: #{$gray-8};

  --footer-bg: #{$gray-9};
  --footer-font-color: #{$gray-6};
}

.darkMode {
  --body-bg: #121212;
  --basic-color: #{$white};

  --nav-menu-list-bottom-border: hsla(0, 0%, 100%, 0.4);

  --step-activeAndFinished-circleBorderColor: white;
  --step-inactive-color: hsla(240, 20%, 95%, 0.4);
  --step-connect-line-color: hsla(240, 20%, 95%, 0.4);

  --input-border: #{$gray-6};
  --input-description: #ffffff66;
  --input-placeholder: #ffffff4d;
  --input-select-icon: #{$gray-6};

  --second-form-radio-unchecked-bg-color: #{$gray-7};
  --second-form-unchecked-border-color: #{$gray-6};
  --second-form-radio-checked-border-color: #{$white};
  --second-form-time-description: rgba(255, 255, 255, 0.4);

  --cart-border: #ffffff33;
  --cart-bg: #383838;
  --cart-info-divider: #ffffff33;
  --cart-btn-bg: #{$gray-4};

  --cart-button-divider: #ffffff33;

  --footer-bg: #{$gray-7};
  --footer-font-color: #ffffff99;
}
